{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
</head>
<body>
    <!--main container-->
    <div class="main-container">
        <!--main content section-->
        <div class="main-contant-section">
            <!--about me section-->
            <div class="about-me-section">
                <h2 class="about-me-profession">Back-End Developer</h2>
                <h1 class="about-me-name">Mark Poroshin</h1>
                <p class="about-me-description">economist, I've been doing IT for a couple of months.</p>

            </div>
            <!-- My projects section -->
            <div class="my-projects-section">
                <h3 class="main-content-title">Projects</h3>
                <ol class="my-projects-list">
                    <li class="my-projects-item">
                        <span class="my-projects-text">
                        <a href="#" class="my-projects-link" >Telegram bot</a>
                        ...........
                        <span class="my-projects-bracket">[</span> python <span class="my-projects-bracket">]</span>
                        </span>
                    </li>
<!--                    <li class="my-projects-item">-->
<!--                        <span class="my-projects-text">-->
<!--                            <a href="#" class="my-projects-link">https://cryptohub.goit.global/</a>-->
<!--                            .............-->
<!--                            <span class="my-projects-bracket">[</span> JavaScript <span class="my-projects-bracket">]</span>-->
<!--                        </span>-->
<!--                    </li>-->
<!--                    <li class="my-projects-item">-->
<!--                        <span class="my-projects-text">-->
<!--                            <a href="https://kidslike.goit.global/" class="my-projects-link">https://kidslike.goit.global/</a>-->
<!--                            ....................-->
<!--                            <span class="my-projects-bracket">[</span> React.js, Node.js <span class="my-projects-bracket">]</span>-->
<!--                        </span>-->
<!--                    </li>-->
                </ol>
            </div>
            <!-- My work experience -->
            <div class="My-work-experience-section">
                <h3 class="main-content-title">Work experience</h3>
                <!-- Company 3 -->
                <div class="My-work-experience-company-block">
                    <h4 class="My-work-experience-position">Team Leadder <span class="My-work-experience-company">GS FRESH</span></h4>
                    <p class="my_work_experince-period">April 2021 - November 2021<span class="my_work_experince-divider">|</span> England</p>

                    <ul class="my_work_experince-duties">
                        <li class="my_work_experince-duty">Achieving set goals and high results in 6 months of work</li>
                        <li class="my_work_experince-duty">Organization of the team work</li>
                        <li class="my_work_experince-duty">Communication in English</li>
                        <li class="my_work_experince-duty">Based on the results of the work, I received an offer for
                        further cooperation</li>
                    </ul>

                </div>

                <!-- Company 2 -->
                <div>
                    <h4 class="My-work-experience-position">Operator <span class="My-work-experience-company">OZON</span></h4>
                    <p class="my_work_experince-period">February 2021 - April 2021 <span class="my_work_experince-divider">|</span> Russia</p>

                    <ul class="my_work_experince-duties">
                        <li class="my_work_experince-duty">Customer Support Service</li>
                        <li class="my_work_experince-duty">Request processing</li>
                        <li class="my_work_experince-duty">I immersed myself in the work of the support service of one of the largest
marketplaces in Russia.</li>
                    </ul>


                </div>
                <!-- Company 1 -->
                <div>
                    <h4 class="My-work-experience-position">Administrator <span class="My-work-experience-company">Chocolate cafe</span></h4>
                    <p class="my_work_experince-period">June 2018 - January 2021 <span class="my_work_experince-divider">|</span> Russia</p>

                    <ul class="my_work_experince-duties">
                        <li class="my_work_experince-duty">Organization of staff work</li>
                        <li class="my_work_experince-duty">Service quality control</li>
                        <li class="my_work_experince-duty">Conflict prevention</li>
                        <li class="my_work_experince-duty">Gained experience working in a team in multitasking mode.</li>
                    </ul>

                </div>
            </div>
            <!-- My Education section -->
            <div class="My-education-section">
                <h3 class="main-content-title">Education</h3>
                <h4><span class="My-work-experience-company">Perm National Research University</span></h4>
                <h4>Finance and credit</h4>
                <p class="my_work_experince-period">September 2017 - June 2022 <span class="my_work_experince-divider">|</span>Russia</p>
            </div>
        </div>
        <!--sidebar section-->
        <aside class="sidebar-section">
            <img src="{% static 'blog/image/my_photo.jpg' %}" alt="my photo">

            <!-- contacts section -->
            <div class="contacts-section">
                <h3 class="sidebar-title">Contacts</h3>
                <div>
                    <span class="contacts-section-type">C:</span>
                    <a class="contacts-section-link" href="tel:+79026409650">+7 902 640 96 50</a>

                </div>
                <div>
                    <span class="contacts-section-type">E:</span>
                    <a class="contacts-section-link" href="mailto:poroshinmark@icloud.com">poroshinmark@icloud.com</a>

                </div>
            </div>

            <!-- tech skills section -->
            <div class="tech-skills-section">
                <h3 class="sidebar-title">Tech Skills</h3>
                <ul class="tech-skills-list" >
                    <li class="tech-skills-item"> <span class="tech-skills-item-text">HTML</span></li>
                    <li class="tech-skills-item"> <span class="tech-skills-item-text">CSS</span></li>
                    <li class="tech-skills-item"> <span class="tech-skills-item-text">GIT</span></li>
                    <li class="tech-skills-item"> <span class="tech-skills-item-text">Python</span></li>
                    <li class="tech-skills-item"> <span class="tech-skills-item-text">Django</span></li>
                </ul>


            </div>
            <!-- soft skills section -->
            <div class="soft-skills-section">
                <h3 class="sidebar-title">Soft Skills</h3>
                <ul class="soft-skills-list">
                    <li class="soft-skills-item"> <span class="soft-skills-item-text">Leadership</span></li>
                    <li class="soft-skills-item"> <span class="soft-skills-item-text">Persistence</span></li>
                    <li class="soft-skills-item"> <span class="soft-skills-item-text">Responsibility</span></li>
                    <li class="soft-skills-item"> <span class="soft-skills-item-text">Teamwork</span></li>
                </ul>

            </div>




        </aside>
    </div>
</body>
</html>

{% endblock %}